*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color  */
:root{
    --primary-color:#E95A08;
    --black:#000000;
    --light-black:rgba(0, 0, 0, 0.5);
    --gray:#6B7280; 
}

/* Font  */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-regular{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Shared Style  */
.section-width{
    max-width: 1140px;
    margin: auto;
}
.section-top-margin{
    margin-top: 120px;
}
body{
    background-color: #F5F8FF;
}
.section-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--black);
}
.title-differ-color{
    color: var(--primary-color);
}
.description{
    font-size: 1.375rem;
    color: var(--light-black);
}
.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 19px 0px;
    background-color: var(--primary-color);
    border: none;
}

/* Nav Section  */
header{
    margin-top: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    max-width: 135px;
    height: 82px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 48px;
}
nav ul a{
    text-decoration: none;
    font-size: 1rem;
    color: #8987A1;
}
nav > ul li:first-child a{
    color: #252432;
    font-weight: 700;
}
nav > ul li:last-child a{
    color: var(--black);
}

/* Banner Section  */
.banner{
    display: flex;
    align-items: end;
    padding-top: 106px;
}
.banner img{
    max-width: 50%;
}
.banner-title{
    color: var(--black);
    font-size: 4.0625rem;
    font-weight: 700;
    margin-bottom: 13px;
}

/* Our Plants  */
.our-plants{
    text-align: center;
    justify-items: center;
}
.our-plants-description{
    max-width: 888px;
    margin-top: 16px;
}
.plant-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap: 20px;
}
.plant-card{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.plant-card img{
    width: 100%;
}
.card-title{
    font-size: 1.375rem;
    font-weight: 500;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-price{
    font-size: 1.375rem;
    font-weight: 700;
    color: #111111;
    margin-bottom: 30px;
}
.plant-card button{
    width: 100%;
}

/* Plant Lover */
.plant-lover{
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 210px;
}
.back-img{
    max-width: 540px;
    max-height: 597px;
}
.plant-lover-details{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.plant-lover-details ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.plant-lover-details ul li::marker{
    color: var(--light-black);
}
.painful-figure{
    position: relative;
}
.trusted-seller{
    max-width: 269px;
    max-height: 269px;
    position: absolute;
    right: -90px;
    top: -120px;
}





/* Responsive Layout */
@media screen and (max-width:576px) {
    header{
        margin-top: 13px;
    }
    nav img{
        max-width: 63px;
        height: 38px;
    }
    .display-none{
        display: none;
    }
    #navbar{
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner{
        flex-direction: column-reverse;
        padding-top: 0;
        margin-top: 28px;
    }
    .banner img{
        max-width: 100%;
    }
    .banner-details{
        margin-top: 23px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .our-plants{
        margin-top: 65px;
    }
    .our-plants-description{
        margin-left: 28px;
        margin-right: 28px;
    }
    .plant-container{
        grid-template-columns: repeat(2,1fr);
        padding-left: 16px;
        padding-right: 16px;
    }
    .plant-lover{
        margin-top: 40px;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .plant-lover-details ul{
        margin-left: 20px;
    }
    .back-img{
        width: 100%;
    }
    .plant-lover-title{
        margin-top: -40px;
    }
}